{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block content %}

	<ul id="choices" class="unstyled"> 
		<li> 
			<a href="{% url registration.views.input_basic_user_details %}
			?mac_address={{ mac_address }}">Register as User</a>
		</li>
		<li> 
			<a href="{% url registration.views.log_in %}?next={% url registration.views.input_device_details %}
			&mac_address={{ mac_address }}">Login and Register a Device</a> 
		</li>
		<li> <a href="{% url registration.views.input_device_details %}
			?mac_address={{ mac_address }}">Register a stationary device/demo purpose</a> 
		</li>
	</ul>
{% endblock %}
